.about-page {
  display: flex;
  padding: 2rem;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}

.col1{
  margin-left: 20px;
  padding: 20px 40px 20px 90px ; 
  font-size: larger; 
  font-family: "Arial", sans-serif;
  color: var(--primary-fontcolor);
}


.col2 img {
  max-width: 100%;
  height: auto;
  padding-left: 80px;
  size: 80px;
  padding-top:70px ;
}

.team-container,
.mentor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-size: larger; 
  font-family: "Arial", sans-serif;
}

.team-member {
  margin: 10px;
  text-align: center;
}
.mentor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-image,
.mentor-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.linkedin-icon {
  width: 14px;
  height: 14px;
  margin-top: 10px;
}

.gallery {
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  margin-bottom: 250px;
}

.gallery img {
  width: 30%;
  margin-right: 10px;
  object-fit: contain;
}

.gallery img:last-child {
  margin-right: 0; /* Remove margin from the last image */
}

@media only screen and (max-width: 900px) {
  .about-page {
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
  .col2 {
    display: none;
  }
  .col1 {
    flex: 1;
  }
}