.event-details-full {
  border: 1px;
  margin: 50px;
  padding-bottom: 16rem;
}
.event-details-container {
  display: flex;
}

.event-details-image {
  width: 30%;
  height: 100%;
  margin: 40px;
}

.event-details-content {
  width: 70%;
  padding: 10px;
}

.event-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: left;
}

.event-meta-item {
  display: block;
  margin-bottom: 25px;
}

.register-button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-fontcolor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  background-color: var(--secondary-color);
}

.event-summary {
  margin-top: 20px;
}

.event-summary h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.event-summary p {
  line-height: 1.6;
}

.event-gallery {
  margin-top: 20px;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
