#main-outlet {
  /* min-height: calc(100vh - 180px); */
  margin-bottom: 100px;
  padding-bottom: 100px;
  object-fit: contain;
}
.about {
  display: flex;
  background: url("/assets/banner.png") no-repeat center center / cover;
  padding: 2rem 2rem;
  object-fit: fill;
  height: 500px;
}


.about h1 {
  color: var(--primary-fontcolor);
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}

.about h2 {
  color: var(--primary-fontcolor);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.search-section {
  display: flex;
  justify-content: center;
  margin-left: 150px;
  margin-top: 40px;
  width: 400px;
}

.search-input {
  flex: 1;
  padding: 5px;
  background-color: transparent;
  border: 2px solid var(--primary-fontcolor);
  border-radius: 14px;
  font-size: 14px;
  resize: none;
  outline: none;
  color: var(--primary-fontcolor);
  text-align: center;
}

.search-button {
  padding: 8px 12px;
  margin-left: 8px;
  background-color: transparent;
  color: var(--primary-fontcolor);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: darkred;
}

.col {
  flex: 50%;
}
.read-more-button {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-fontcolor);
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* Center the text */
  text-align: center;
}

.read-more-button:hover {
  background-color: var(--secondary-color);
  color: var(--secondary-fontcolor);
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .about {
    background: none;
  }
  .search-section {
    margin-left: 0;
    width: 100%;
    justify-content: center;
  }

  .search-input {
    width: 80%;
  }

  .search-button {
    margin-left: 0;
  }
}
