.about-page {
  display: flex;
  padding: 2rem;
  align-items: center;
  margin-top: 0;
}

.col1,
.col2 {
  flex: 1;
}

.col2 img {
  max-width: 80%;
  height: auto;
  padding: 5rem;
}
.gallery {
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  margin-bottom: 250px;
}

.gallery img {
  width: 30%;
  margin-right: 10px;
  object-fit: contain;
}

.gallery img:last-child {
  margin-right: 0; /* Remove margin from the last image */
}

@media only screen and (max-width: 900px) {
  .about-page {
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
  .col2 {
    display: none;
  }
  .col1 {
    flex: 1;
  }
}
