body {
  position: relative;
  margin: 0;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  color: black;
  background-color: white;
  text-align: justify;
  min-height: 100vh;
  min-width: 100vw;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 25px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ca9999;
}

.logo {
  position: relative;
  justify-content: flex-start;
  padding-left: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navlinks {
  padding-right: 30px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar img {
  height: 3rem;
  width: auto;
  margin-right: 1rem;
}

nav a:hover {
  background-color: #8a4a4a;
  color: white;
}

.active {
  background-color: rgb(80, 42, 42);
  color: white;
}

.footer {
  background-color: #ca9999;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100px; /* Footer height */
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links li {
  margin: 0 1rem;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

#main-outlet {
  box-sizing: border-box;
  min-height: calc(100vh - 180px);
  padding-top: 80px; /* Navbar height */
  padding-bottom: 100px; /* Footer height */
}

.below-footer-outlet {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px; /* Footer height */
}
